<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/485357955341090825/964585745635479602/P_LogoGrn2.png">
  <link rel="stylesheet" href="../css/home.css">
  <title>Zetox</title>
</head>
<body>
  <section id="header">
    <img class="logo" src="https://cdn.discordapp.com/attachments/485357955341090825/964585745635479602/P_LogoGrn2.png" alt="">
    <div class="bordercolor__css__nav"></div>
    <div class="background__nav"></div>
   <div class="nav">
       <a class="navbutton" href="">Forside</a>
       <a class="navbutton" href="http://discord.gg//pacificrp" target="__blank">Discord</a>
       <a class="navbutton" href="./pages/regler.html">Regler</a>
       <a class="navbutton" href="./pages/regler.html">Partners</a>
       <a class="navbutton" href="./pages/regler.html">Whitelist</a>
       <a class="login" href="http://localhost:4100/dashboard" style="color: rgb(0, 174, 255); position: absolute; left: 1500px; width: 200px;">Login</a>
   </div>
</section>
<section id="main">
  <div class="background">
    <img class="icon" src="https://cdn.discordapp.com/attachments/485357955341090825/964585745635479602/P_LogoGrn2.png" alt="">
  <h1 class="title">NoName</h1>
  <div class="underline"></div>
  <h2 class="undertitle">Velkommen Til NoName</h2>
  <h3 class="description">Her hos os, går vi meget op i at have et fællesskab, hvor folk kan hygge sig, og have det sjovt med hinanden. Selvfølgelig går vi også op i, at vores RP er realistisk, så det faktisk er sjovt at spille for alle.</h3>
  <a  class="rules" href="/regler">Læs Reglerne</a>
  <a  class="discord" href="http://discord.gg//pacificrp" target="__blank">Join Discord</a>
  </div>
  
</section>
<section id="news">
 <div class="thred-1">
   <% const username = "jens"%>
   <% if (username == "jens") { %> 
    <h2><%= username %></h2>
    <%} %>
 </div>
</section>
</body>
</html>