<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..//css/bootstrap.min.css">
    <link rel="stylesheet" href="..//css/styles.css">
    <link rel="stylesheet" href="..//css/now-ui-kit.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>CT Bots Offcial - Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
        </button>
        <img src="assets/Logo.png" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../html/plugins.html">Plugins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Memberships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Custom Bot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support Server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:rgb(255, 238, 0);">👑 Premium</a>
        
                </li>
            </ul>
            </div>
            <a class="btn login-btn btn-outline-accent my-2 my-sm-0" href="http://localhost:4100/dashboard" style="font-size: 10px !important;font-family: poppins !important;">Login</a>
        </div>
    </nav>
    <div class="heading">
        <h1 class="display-5 title">This is Commander Bot.</h1>
        <p class="subtitle">Bot is a multi-purpose bot ready to enhance and enhance your Discord server <br /> Also includes automatic moderation, administration, hold back resellers and more!</p>
        <a class="btn btn-primary btn-lg" href="https://discord.gg/9md8NDxqTp" target="_blank" role="button">Get started</a>
        <a class="btn btn-secondary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=687664201438724122&permissions=8&scope=bot" target="_blank" role="button">Add to server</a>
        <br /><br /><br /><br /><br /><br />
    </div>
    <div class="container">
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Users</h2>
            <p>Users: <%= users %></p>
            <a href="#">Invite</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Guilds/Servers</h2>
            <p>Guilds: <%= users %></p>
            <a href="#">Invite</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Channels</h2>
            <p>Channels: <%= users %></p>
            <a href="#">Invite</a>
          </div>
        </div>
      </div>
      <!DOCTYPE html>
      <html lang="en">

</body>
</html>